body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #eeea05; 
    background-color: grey;
}

header {
    background: #5f016b;
    color: #eeea05;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

header .logo {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

header .logo img {
    height: 50px;
}

header h1 {
    margin: 0;
}

main {
    padding: 1rem;
}

.post {
    background: #5f016b;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    padding: 1rem;
    color: #eeea05; 
}

.post h2 {
    margin-top: 0;
}

.comments {
    margin-top: 1rem;
}

.comment {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    color: #000; 
}

.resource-section{
    background-color: #5f016b;
}