body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #eeea05; 
    background-color: grey;
}

header {
    background: #5f016b;
    color: #eeea05;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

header .logo {
    position: absolute;
    left: 5rem;
    top: 50%;
    transform: translateY(-50%);
}

header .logo img {
    height: 50px;
}

header h1 {
    margin: 0;
}

nav {
    position: absolute;
    right: 5rem;
    top: 50%;
    transform: translateY(-50%);
}

.resource-button, .toggle-button {
    background-color: transparent;
    color: #eeea05;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 2px solid #eeea05;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.resource-button:hover, .toggle-button:hover {
    background-color: #eeea05;
    color: #5f016b;
}

main {
    padding: 1rem;
}

.post {
    background: #5f016b;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    padding: 1rem;
    color: #eeea05; 
}

.post h2 {
    margin-top: 0;
}

.comments {
    margin-top: 1rem;
    display: none; /* Hide comments initially */
}

.comment {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    color: #000; 
}

.comment img, .comment video {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 1rem;
}

.resource-section {
    background-color: #5f016b;
    padding: 1rem;
    color: #eeea05;
}

.resource-section .resource {
    background: #5f016b;
    border: 1px solid #eeea05;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    color: #eeea05;
}

.resource-section a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.resource-section a:hover {
    color: #ff0000; 
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    header .logo {
        left: 0.5rem;
    }

    nav {
        right: 0.5rem;
    }
}
